/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp TAB    &kp Q  &kp W  &kp F      &kp P  &kp B        &kp J     &kp L     &kp U     &kp Y      &kp L    &kp ESC
&kp RCTRL  &kp A  &kp R  &kp S      &kp T  &kp G        &kp M     &kp N     &kp E     &kp I      &kp O    &kp ENTER
&kp LSHFT  &kp Z  &kp X  &kp C      &kp D  &kp V        &kp K     &kp H     &kp H     &kp COMMA  &kp DOT  &kp RSHFT
                         &kp SPACE  &mo 1  &kp LSHFT    &kp LGUI  &kp LBKT  &kp BSPC
            >;
        };

        layer_1 {
            bindings = <
&kp X  &kp X  &kp X  &kp X   &kp X   &kp X     &kp X   &kp X   &kp X   &kp X  &kp X  &kp X
&kp X  &kp X  &kp X  &kp X   &kp X   &kp X     &kp X   &kp X   &kp X   &kp X  &kp X  &kp X
&kp X  &kp X  &kp X  &kp X   &kp X   &kp X     &kp X   &kp X   &kp X   &kp D  &kp X  &kp X
                     &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
